
<div fxLayout="row"  fxLayoutGap="20px" class="stats-cards">

  <mat-card class="example-card" routerLink="ecbhearings">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Analysis of ECB publications</mat-card-title>
        <mat-card-subtitle>Finance</mat-card-subtitle>
      </mat-card-header>
      <img class="image" mat-card-image src="assets/images/ecb.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Finanial Researchers have used the connector "ECB Hearings" to utilize information from automatic topic clustering and financial sentiment calculation to 
          quantify direct impacts on European Asset Markets.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/ecbhearingsproject"><button class="cta" >Description</button></a>
        <a><button class="ctadisabled" >Connect</button></a>
        <a><button class="ctadisabled" >Share</button></a>
      </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" routerLink="androidappsproject">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Live competitor analysis for Android Apps</mat-card-title>
      <mat-card-subtitle>Business Operations</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="assets/images/googleplaystore.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        In a case study we have developed a connector that allows for a live competitor analysis for all providers and all categories of Android Apps.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/androidappsproject"><button class="cta" >Description</button></a>
      <a><button class="ctadisabled" >Connect</button></a>
      <a><button class="ctadisabled" >Share</button></a>
    </mat-card-actions>
</mat-card>


</div>

