<header>
    <div class="container">
      <a routerLink="/" class="logo">SophiaData</a>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a routerLink="/connectors">Connectors</a></li>

          <!--<li><a routerLink="/product">Product</a></li>
          <li><a routerLink="/fordevelopers">#For Developers</a></li>-->
          <li><a routerLink="/aboutus">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

